.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
} 
form {
    width: 300px;
    padding: 10px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    margin: 10px;
    border: 4px solid rgb(221, 221, 221);
    border-radius: 10px;
}   
input {
    font-size: 48px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    
}
.b {
    width: 200px;
    background-color: rgb(218, 218, 218);
}
output {
    font-size: 48px;
    margin: 10px;
    }
